html{
  box-sizing: border-box;
}
*,*:before,*:after{
  box-sizing: inherit;
}
body{
  font-family: 'PT Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../img/pexels-photo-1538177.jpeg);
  background-size: 100%;
  font-size: 20px;
  font-style: italic;
}
.hero{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
}

  .contenedor-hero{
    position: relative;
    color:white;
    z-index: 1;
    text-align: center;
}

img{
  border-radius: 100%;
  width: 155px;
  height: 155px;
  border: 5px white solid;
}
